* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    width: fit-content;
    height: fit-content;
}
button{
    position: relative;
    width: 150px;
    height: 100px;
}
button::before{
    content: "Pasa por encima";
    position: absolute;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    transform: translate(-50%, -50%);
}
button::after{
    content: "¡¡Hecho!!";
    position: absolute;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    opacity: 0;
}

button:hover{
    color:white;
    background-color: green;
    border-radius: 10px;
    padding: 20px;
}
button:hover::before{
    opacity: 0;
    transform: translate(-50%, -50%);scale: (3);
}

button:hover::after{
    opacity: 1;
    transform: translate(-50%, -50%);scale: (1);
}